/public/storage
/storage/*.key
/vendor
.env
.env.old.old
.env.prod
/public/uploads
/source_code
updates.zip
uploads.zip
shop.sql
/sqlupdates
/diseno
/logs
/refs
/temp
/info
/hooks
/objects
/source_code
/source_code_old
/.idea
ngrok.exe
public.zip
desarrollo.zip
/vendor/
.env
